<div class="card blog-tile" [ngClass]="{'fav': blogPost.isFav}" >
  <div class="card-body">
      <h5 class="card-title" appHighlight="green">
      {{blogPost.title}}
      </h5>
      <p class="card-text" (click)="showFullSummary()">
          <!-- default limit is 20 -->
        <!-- {{blogPost.summary| truncate}} -->
        <!-- passed limit of 10 and ending with *** -->
<!-- {{blogPost.summary| truncate: 10 : '***'}} -->
<!-- passed limit of 10 and ending with *** -->
<!-- Accessing Angular pipes from the component class -->
{{blogPost.summary}}
    </p>
    <a href="#" class="btn btn-primary blog-btn">Read</a>
    <a href="#" class="btn btn-primary" (click)="markFavorite()">Favorite</a>
  </div>  
</div>